ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    /* background-color: #549f9a; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    /* color:black; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:rgb(210, 187, 111);
    border-radius: 9px;
  }
  
  li a.active {
    color: rgb(233, 181, 11);
    /* background-color: #04AA6D; */
  }
  #dark{
    background-color: rgb(14, 12, 12);
    color: #fff  !important;
  }
  #dark li a{
    background-color: rgb(14, 12, 12);
    color: #fff  !important;
  }
  
  #light{
    background-color: #fff;
    color: black;
  }

  #light li a{
    background-color: #fff;
    color: black !important;
  }